---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
    font-size: 0.95em; /* 95% of default */
    line-height: 1.5;  /* adjust spacing if needed */
    max-width: 800px;
    margin: 0 auto;
  }

  
.feature__item .archive__item-teaser + .archive__item-body {
    text-align: center;
  }
  
.feature__item .btn {
    display: inline-block;
    margin: 1rem auto 0;
  }
  
// Sticky nav bar for Minimal Mistakes
.masthead {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff; /* or match your theme */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

